section.title {
  background-color: #fafafa;
  padding: 30px 0;
  margin-top: 50px;
}

section.title .container .nav ul li {
  color: #222;
  padding-right: 20px;
}

i.fa-chevron-down {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 13px;
  color: #222;
  line-height: 100%;
  display: inline-block;
}

.main .container .row {
  width: 85%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .container .row .cols {
  width: 49%;
  padding: 10px;
}

.main .container .row .cols .item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .container .row .cols .item img {
  width: 30%;
}

.main .container .row .cols .item .content {
  width: 70%;
  margin-left: 30px;
  padding: 10px;
}

.main .container .row .cols .item .content .rating {
  color: gold;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .row .cols .item .content .name {
  padding: 20px 0;
  font-size: 14px;
  font-weight: bold;
}

.main .container .row .cols .item .content .price {
  font-weight: bold;
  color: #0564d2;
}

.main .container .row .cols .item:hover {
  border: none;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.numberpage {
  margin-top: 40px;
  margin-left: 118px;
}

.numberpage span {
  padding: 10px;
  margin: 10px;
  border: 1px solid #0063d1;
  background-color: #0063d1;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.result-search {
  display: none;
  position: absolute;
  left: 404px;
  z-index: 2;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  border-radius: 3px;
}

.result-search .row {
  position: relative;
  z-index: -2;
  margin: 0 auto;
  width: 856.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.result-search .row li {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(204, 204, 204, 0.2);
  width: 50%;
}

.result-search .row li a {
  padding: 8px;
}

.result-search .row li a img {
  position: relative;
  z-index: -1;
  width: 20%;
}

.result-search .row li a .content {
  width: 80%;
  padding-left: 20px;
}

.result-search .row li a .content .name {
  padding: 10px 0;
  font-weight: bold;
}

.result-search .row li a .content .price {
  color: #0063d1;
  font-weight: bold;
}

.result-search .row li:hover {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.result-search .btn-view-more {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 128px;
  display: none;
}

.result-search .btn-view-more .view-more {
  cursor: pointer;
  width: 160px;
  margin: 35px 0;
  padding: 15px 40px;
  border: 2px solid black;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

body {
  position: relative;
}

.condition {
  margin: 50px 0;
  padding: 30px;
  background-color: #fafafa;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.condition label, .condition button {
  cursor: pointer;
}

.condition .search {
  width: 47%;
}

.condition .search form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.condition .search form .title {
  font-weight: bold;
}

.condition .search form label {
  padding: 0 10px;
}

.condition .search form input {
  width: 135px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 14px;
  border-radius: 10px;
}

.condition .search form .search {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  width: 100px;
  padding: 8px 14px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 20px;
}

.condition .search form .search:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.condition .sort {
  width: 47%;
}

.condition .sort form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.condition .sort form .title {
  font-weight: bold;
}

.condition .sort form label {
  padding: 0 10px;
}

.condition .sort form input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.condition .sort form .sort {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  width: 100px;
  padding: 8px 14px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 20px;
}

.condition .sort form .sort:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.empty {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}
/*# sourceMappingURL=style_search.css.map */